{% extends "base.html" %}
{% load static %}
{% block content %}
    <div id="contenido" class="container">
        <div class="row">
            <div class="col-md-8">
                <h3 class="text-primary pb-2">{{ seccion.titulo }}</h3>
                {{ seccion.descripcion|safe }}
            </div>
            <div class="col-md-4" id="imagen"
                 style="background-image: url('{% static seccion.imagen %}');
                         background-position: center;
                         height: 300px;
                         background-size: contain;
                         background-repeat: no-repeat">
            </div>
        </div>
        <div class="row">
            <div class="col-6 pt-3 text-secondary">
                <h3 class="text-primary">Secciones de interes</h3>
                <ul class="lista-flechas">
                {% for s in secciones %}
                    <li><a class="text-decoration-none text-secondary" href="{{ s.link }}/{{ s.id }}">{{ s.titulo }}</a></li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-6 pt-3 text-secondary">
                <h3 class="text-primary">Articulos relacionados</h3>
                <ul class="lista-flechas">
                {% for a in articulos %}
                <li><a class="text-decoration-none text-secondary" href="{{ a.link }}/{{ a.id }}">{{ a.titulo }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}